.HeroDiv{
    background-image: url('../../images/background.jpeg');
    background-size: cover;
}
.bridalPartyInnerPlacementDiv{
    /* border: 2px solid green; */
    width: 75%;
    height: 27rem;
    position: relative;
    top: 2rem;
    left: 13%;
     /* margin-top: 15rem; */
} 
.sizerForBridal{
    height: 27rem;
}

.description{
    position: relative;
    top: -20rem;
    left: 50%;
    /* border: 2px solid purple; */
    width: 32rem;
    height: 25rem;
}
.sectionTitle{
    padding: 0.5rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 3px;
}
.titleH2{
    /* border: 2px solid red; */
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 1rem;
    width: 100%;
    z-index: -32;
    text-align: center;
    letter-spacing: 3px;
}
.imgDiv{
    background-color: lightgrey;
    height: 23rem;
    width: 45%;
}
@media(max-width: 900px){
    .titleH2{
        /* border: 2px solid red; */
    
        position: absolute;
        top: 4rem;
        width: 100%;
        text-align: center;
    }
.sizerRed{
    height: 30rem;
}
.sizerWhite{
    height: 30rem;
}
    .bridalPartyInnerPlacementDiv{
        /* border: 2px solid green; */
        width: 100%;
        height: 27rem;
        position: relative;
        top: 1rem;
        /* margin: 1rem; */
        left: 0;
        /* margin-top: 15rem; */
    }
    .description{
        position: relative;
        top: 1px;
        left: 0%;
        /* border: 2px solid purple; */
        margin: 0 auto;
        width: 20rem;
        height: 15rem;
        font-size: 12px;
    }
    .description h2 {
        position: relative;
        top: 1rem;
    }
    
    .imgDiv{
        margin: 0 auto;
        height: 15rem;
        width: 90%;
    }
    .bridalPartyInner{
        /* border: 2px solid red; */
    }
    .redSizerForBridal{
        height: 30rem;
    }
}