.rsvpComponentDiv{
    /* border: 2px solid red; */
    padding-top: 3rem;
    width: 100%;
    height: 30rem;
}
.rsvpParentDiv{
    /* border: 2px solid blue; */
    padding-top: 1rem;
    position: relative;
    top: -3rem;
    width: 50%;
    height: inherit;
    margin: 0 auto;
}
.rsvpTitle{
    text-align: left;
    font-family: 'Great Vibes', cursive;
    color: #761e35;
    padding: 0;
    margin: 0;
}
.deletePrimaryGuest{
    color: red;
}
.rsvpVerbage{
    position: relative;
    top: -1rem;
    padding-top: 0; 
}
.nameH3{
    position: relative;
    top: -1rem;
    font-weight: bold;
    color: #761e35;
    /* padding-top: rem; */
}
.nameLabelDesc{
    /* border: 2px solid green; */
    position: relative;
    top: -1rem;
}
.nameForm{
    position: relative;
    top: -1.5rem;
}
.attendingH3{
    font-weight: bold;
    color: #761e35;
    padding-top: 0.5rem;
}
.radioParent{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.inputLabels{
    display: inline;
}
.label {
    /* border: 2px solid red; */
    margin: 0;
}
.nameInput{
    margin-top: 1rem;
    width: 20rem;
    padding: .5rem;
    border-radius: 3px;
    font-size: 16px;
}
.rsvpButton {
    background-color: #761e35;
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    padding: 5px;
    margin-top: 1rem;
}
.guestArrayUl{
    /* border: 2px solid blue; */
    padding-top: 1rem;
    margin: 0 auto;
    width: 90%;
    
}
.addguestButton {
    padding: .5rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-size: 16px;
}
.resetButton {
    margin-left: 5px;
}
.guestLi{
    border: 0.5px solid black;
    display: inline;
    padding: 0.5rem;
    border-radius: 3px;
    /* padding-right: 0.5rem; */
    background-color: #AD7886;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    font-size: 12px;
}
.xDiv{
    /* border: 2px solid white; */
    display: inline-block;
    cursor: pointer;
    /* font-size: 1rem; */
    /* width: 1.5rem; */
    height: 21px;
    width: 17px;
    border-radius: 50%;
    /* padding-right: 12px; */
    /* padding-left: 4px; */
    position: relative;
    /* top: 2px; */
    /* left: 5%; */
    background-color: #AD7886;
    color: white;
}
.xDiv i{
    color: white;
}
@media(max-width: 900px){
    .mainRSVPcontent{
        position: relative;
        top: 2rem;
    }
    .rsvpVerbage{
        display: none;
    }
    .rsvpParentDiv{
        /* border: 2px solid blue; */
        width: 80%;
        height: inherit;
        text-align: left;
        margin: 0 auto;
    }
    .guestArrayUl{
        padding-top: 0;
        position: relative;
        top: -1rem;
    }
}