.timerParent {
    /* border: 2px solid green; */
}
.timerH2 {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    /* padding-top: 5rem; */
    font-size: 2rem;
    /* margin: 0 auto; */
}
.timerH2 h2 {
    /* border: 2px solid violet; */
    font-weight: lighter;
    padding: 1rem;
}
.coundownLabelsParent{
    /* border: 2px solid purple; */
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    width: 43rem;
    margin: 0 auto;
    padding: 0;
    position: relative;
    /* top: -2rem; */
    /* justify-content: space-between; */
}
.coundownLabels{
    /* border: 2px solid blue; */
    position: relative;
    top: -4rem;
    font-weight: lighter;
    /* left: 20%; */
}
.daysNumber{}
.days {
    position: relative;
    left: 20%;
}
/* //copy from above Line  */
.hoursNumber{
    position: relative;
    left: -0.5rem;
}
.hours {
    position: relative;
    left: -0.5rem;
}
.minuteNumber{
    position: relative;
    left: 0.8rem;
}
.minutes {
    position: relative;
    /* left: 4%; */
}
.secondNumber{
    position: relative;
    left: 0.8rem;
}
.seconds {
    /* position: relative;
    left: 55%; */
}

@media(max-width: 700px){
    .timerH2{
        width: 100%;
        font-size: 18px;
        position: relative;
        /* right: 3rem; */
    }
    .daysNumber{}
    .days {
        position: relative;
        left: 23%;
        top: -3rem;
}
    .minuteNumber{
        position: relative;
        left: -1rem;
    }
    .minutes {
        position: relative;
        left: -1rem;
        top: -3rem;
    }
    .secondNumber{
        position: relative;
        left: -1.3rem;
    }
    .seconds {
        position: relative;
        left: -1.5rem;
        top: -3rem;
    }
    .hoursNumber{
        position: relative;
        left: -1.5rem;
    }
    .hours {
    position: relative;
    left: -1rem;
    top: -3rem;
}
}

/* make timerH2 display: flex */
/* use boxjr className to style individual flexobjects */
