/* .sizer {
    height: 40rem;
    width: 100%;
} */

.logoHeaderDiv{
    width: 100%;
    height: 7rem;
    border: 2px solid red;
}

.homeHeroDiv{
    background-image: url('../../images/bitmap.png');
    background-size: cover;
}
@media(max-width: 900px){
    .homeItineraryDiv{
        height: 137rem;   
    }
}