/* .sizer {
    height: 40rem;
    width: 100%;
} */


.homeHeroDiv{
    background-image: url('../../images/bitmap.png');
    background-size: cover;
}
.pin {

}
.homeInviteFormDiv{
    height: 43rem;
}
.registerTripDiv{
    /* border: 2px solid red; */
    height: 100%;
    padding-bottom: 3rem;
    position: relative;
    top: -10rem;
}

.giftingRegister{
    /* border: 2px solid blue; */
    width: 55%;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    color: white;
}
.giftRegistryDesc{
    /* border: 2px solid red; */
    margin: 0 auto;
    padding-bottom: 2rem;
    line-height: 2;
    width: 85%;
    font-weight: 100;
    font-size: 12px
}
.linkToTripRegistry{
    border: none;
    position: relative;
    width: 11rem;
    height: 2rem;
    border-radius: 5px;
    top: -0.3rem;
    font-weight: 800;
    color: #761e35;
    background-color: white;
}
.homeItineraryDiv{
       position: relative;
       top: -10rem;
}
@media(max-width: 1100px){
    .homeItineraryDiv{
        height: 123rem;   
    }
}
.homeMapDiv {
    position: relative;
    top: -10rem;
}
.homeCountDownH1{
    padding-top: 3rem;
    text-align: center;
}
@media(max-width: 700px){
    .giftingRegister{
        width: 100%;
    }
    .giftRegistryDesc{
        width: 100%;
    }
}
/* /////////////////bridalParty-section////////////// */

.homeBridalPartyDiv{
    position: relative;
    top: -10rem;
    height: 72rem;
}

.fulWidthBridalPartyParent{
    /* border: 2px solid red; */
    width: 100%;
}
.centeredBridalPartydiv{
    /* border: 2px solid green; */
    width: 80%;
    margin: 0 auto;
}
.bridalPartySectionTitle{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Great Vibes', cursive;
}
.immediateBridalPartyParent{
    /* border: 2px solid purple;    */
    display: flex;
    width: inherit;
    justify-content: space-evenly; 
    flex-direction: row;
    margin: 3rem auto;
    /* height: 13rem; */
}
.bridalPartyMemberCircle{
    border: 1px solid darkgray;
    background-color: gray;
    margin: 1rem;
    border-radius: 50%;
    display: block;
    width: 10rem;
    height: 10rem;
}
.bridalPartyMemberCircle img {
    border-radius: 50%;
    display: block;
    width: 10rem;
    height: 10rem;
}
.bridalPartyNameParent{
    display: block;
    /* margin: 19rem; */
    position: relative;
    /* top: 10rem; */
}
.nameDiv{
    /* border: 2px solid green; */
    position: relative;
    display: block;
    top: 75%;
    font-size: 1rem;
    text-align: center;
    height: 2rem;
}

.countdownParent{
    /* border: 2px solid yellow; */
    height: 25rem;
    position: relative;
    /* top: -3rem; */
}
.weddingInfoParent .content{
    /* font-family: Avenir; */
    font-size: 14px;
    position: relative;
    top: 15rem;
    text-align: center;
    color: white;
}
.content h1, h3{
    font-weight: lighter;
}
.weddingInfoDiv{
    position: relative;
    top: 24rem;
    height: 10rem;
    margin: 0 auto;
    width: 60%;
    opacity: 0.5;
    background-color: black;
    /* border: 1px solid red; */
}
@media(max-width: 900px){
     .content h3{
        width: 40%;
        font-size: 12px;
        position: relative;
        left: 30%;
    }
    .weddingInfoParent .content{
        /* font-family: Avenir; */
        font-size: 14px;
        position: relative;
        top: 8rem;
    }
   
    .weddingInfoDiv{
        position: relative;
        top: 17rem;
      
    }
}
/*  cant  figure out css issues */
/* //////////////////////////////////////////////////// */
@media(max-width: 1500px){
.bridalPartyMemberCircle{
    margin: 0rem;
    margin-left: 1rem;
    height: 7rem;
    width: 7rem;
}
.bridalPartyMemberCircle img{
    height: inherit;
    width: inherit;
}
}

@media(max-width: 900px){
    .homeInviteFormDiv{
        height: 47rem;
    }
    
    .registerTripDiv{
        padding-bottom: 3rem;
    }
    .homeBridalPartyDiv{
        /* border: 15px solid green; */
        height: 214rem;
    }
    .centeredBridalPartydiv{
        /* border: 2px solid green; */
        width: 100%;
        margin: 0 auto;
    }
    .immediateBridalPartyParent{
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly;  */
    }
    .bridalPartyMemberCircle{
        /* border: 2px solid blue; */
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
    }
    .bridalPartyMemberCircle img{
        height: inherit;
        width: inherit;
    }
    .nameDiv{
        /* border: 2px solid green; */
        display: block;
        width: 12rem;
        position: relative;
        left: 30%;
        top: -6rem;
        /* margin: ; */
    }
    

}