.App {
  text-align: center;
}
.sizer{

  height: 40rem;
  width: 100%;
  /* border: 2px solid red; */
}
.white {
  background-color: white;
}
.red {
  background-color: #761E35;
  
}

@media(max-width: 700px){
  .red{
    height:100%;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
