
.sizer{
  height: 40rem;
  width: 100%;
  /* border: 2px solid red; */
}
.white {
  background-color: white;
  /* border: 2px solid purple; */
}
.red {
  /* height: 40rem; */
  background-color: #761E35;
  color: white;
  
}

.logoHeaderDiv{
  width: 100%;
  height: 7rem;
  /* border: 2px solid red; */
}

.links {
  /* border: 2px solid red; */
  position: relative;
  font-weight: bold;
  right: 3rem;
  top: 2.5rem;
}
.linkButton {
  display: inline;
  color:#761E35;
  margin: 0.5rem;
}
a {
  text-decoration: none;
}
.foot{
  padding: 1rem;
  background-color: white;
  text-align: center;
}
.logoPic{
  /* border: 2px solid red; */
  height: 6rem; 
  width: 20rem;
  margin-top: 0.75rem;
  position: absolute;
  /* /* z-index: 3; */
}
.cropLogo{
  margin-top: 1rem;
  /* left: 1rem; */
  display: none;
  position: absolute;
  height: 5rem;
}

@media(max-width: 700px){
  .links {
    /* border: 2px solid red; */
    position: relative;
    right: 0rem;
    top: 2.5rem;
  }
  .sizer{
    height: 30rem;
  }
  .red {
    height: 100%;
  }
  .logoPic{
    /* border: 2px solid red; */
    /* top:1rem;
    height: 3rem; 
    width: 10rem; */
    display:none;
    /* z-index: 3; */
  }
  .cropLogo{
    display: block;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 
}
